{% extends 'base.html.twig' %}

{% block title %}Eco IT - Catalogue des formations{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class=" container py-5">
    <h1>Catalogue des formations</h1>

        {% for course in courses %}
          
             <div class="card mb-3">
       {% for illustration in course.illustrations %}
            <div>
                <img class="card-img-top" src="{{ asset('/images/courses/' ~ illustration.name) }}" alt="images"/>
            </div>
        {% endfor %}
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <p class="card-text"><small class="text-muted">Formation N° {{ course.id }}</small></p>
                        
                <div>
                    <a href="#"><button class="btn btn-secondary">Marquer comme termninée</button></a>
                </div>
                <div class="pt-2">
                    <a href="{{ path('app_course_show', {'id': course.id}) }}"><button class="btn btn-info mb-1">Afficher</button></a>
                {% if is_granted('ROLE_TEACHER')%}    
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}"><button class="btn btn-warning">Modifier</button></a>
                </div>
                {% endif %}
            </div>
            </div>
               
                
                
           
        {% else %}
            <div>
                <p colspan="6">Aucun résultat</p>
            </div>
        {% endfor %}
       
{% if is_granted('ROLE_TEACHER') %}
    <a href="{{ path('app_course_new') }}"><button class="btn btn-primary">Ajouter une nouvelle formation</button></a>
{% endif %}
 </main>  

{% include 'footer.html.twig' %}

{% endblock %}
