{% extends 'base.html.twig' %}

{% block title %}Eco IT - Catalogue des formations{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class=" container py-5">
    <h1>Catalogue des formations</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Visuel</th>
                <th>Description</th>
                <th>Sections</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                
                <td>{{ course.title }}</td>
                <td>{{ course.illustration }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.sections ? course.sections|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}"><button class="btn btn-info mb-1">Afficher</button></a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}"><button class="btn btn-warning">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}"><button class="btn btn-primary">Ajouter une nouvelle formation</button></a>
 </main>   
{% endblock %}
