{% extends 'base.html.twig' %}

{% block title %}Espace de gestion{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class=" container py-5">
    <h1>{{ course.title }}</h1>
    <div class="card mb-3">
       {% for illustration in course.illustrations %}
                            <div>
                                <img class="card-img-top" src="{{ asset('/images/courses/' ~ illustration.name) }}" alt="images"/>
                            </div>
                        {% endfor %}
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <p class="card-text"><small class="text-muted">Formation N° {{ course.id }}</small></p>
            </div>
    </div>

   <a href="{{ path('app_course_index') }}"><button class="btn btn-primary">Retour à l'index</button></a>
{% if is_granted('ROLE_TEACHER') %}
 <a href="{{ path('app_course_edit', {'id': course.id}) }}"><button class="btn btn-warning">Modifier</button></a>

{{ include('course/_delete_form.html.twig') }}
{% endif %}
</main>
{% endblock %}
