{% extends 'base.html.twig' %}

{% block title %}Eco IT - Des formations pour la planête{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<div class="container">
	
<main class="container-fluid">

<div class="row py-4 ">
   
    <div class="col-md-8 fs-4">
        <h1 class="display-5 fw-bold pt-5">Des formations pour la planète</h1>
          <p class="">Using a series of utilities, you can create this jumbotron, 
            just like the one in previous versions of Bootstrap. Check out the examples below for 
            how you can remix and restyle it to your liking.</p>

          <a href="{{ path('app_subscribe_as_teacher')}}">
            <button class="btn btn-primary btn-lg m-2"  type="button">Devenir instructeur</button>
          </a>
		      <a href="{{ path('app_register')}}">
            <button class="btn btn-outline-success btn-lg m-2"  type="button">Devenir Apprenant</button>
          </a>
      </div>
   <img class="img-responsive col-md-4"  src="{{ asset('images/logo-big.png')}}"  alt="logo - Eco IT" />
    
</div>

<div class="container marketing">
  
    <hr class="featurette-divider">

{# Affichage des trois dernières formations #}
  {% for course in courses %}
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ course.title }}</h2>
        <p class="lead">{{ course.description }}</p>
        <p>
          <a href="{{ path('app_login')}}" class="btn btn-primary mt-5">Suivre la formations</a>
        </p>
      </div>
      <div class="col-md-5">
          {% for illustration in course.illustrations %}
              <div>
                <img  src="{{ asset('/images/courses/' ~ illustration.name) }}" alt="illustration" width="500" height="300"/>
              </div>
          {% endfor %}
      </div>
    </div>

     <hr class="featurette-divider"> 

{% endfor %}
  </div>

   <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Les formations proposées</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
        {% if app.user %}
          <a href="{{ path('app_courses')}}" class="btn btn-primary my-2">Voir plus de formations</a>
        {% else %} 
          <a href="{{ path('app_register')}}" class="btn btn-primary my-2">S'inscrire pour découvrir les formations</a> 
        {% endif %}  
        </p>
      </div>
    </div>
  </section>
</main>
</div>

{%include 'footer.html.twig' %}

{% endblock %}
