{% extends 'base.html.twig' %}

{% block title %}Eco IT - Des formations pour la planête{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<div class="container">
	
<main class="container-fluid">

<div class="container py-4 ">
    <div class="p-4 mb-4 rounded-2">
      <div class="container-fluid">
        <h1 class="display-5 fw-bold pt-5">Eco IT</h1>
          <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, 
            just like the one in previous versions of Bootstrap. Check out the examples below for 
            how you can remix and restyle it to your liking.</p>
          <a href="{{ path('app_subscribe_as_teacher')}}">
            <button class="btn btn-primary btn-lg"  type="button">Devenir instructeur</button>
          </a>
		      <a href="{{ path('app_become_student')}}">
            <button class="btn btn-outline-success btn-lg"  type="button">Devenir Apprenant</button>
          </a>
      </div>
    </div>
</div>

<div class="container marketing">
  
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <img class="img-responsive" src="{{ asset('images/computer-plant.jpeg')}}" width="500" height="300" alt="" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-responsive" src="{{ asset('images/next-life.jpeg')}}" width="500" height="300" alt="" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img class="img-responsive" src="{{ asset('images/solar-panel.jpeg')}}" width="500" height="300" alt="" />
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</main>
</div>

{%include 'footer.html.twig' %}

{% endblock %}
