{% extends 'base.html.twig'%}
{% form_theme registrationForm 'bootstrap_5_horizontal_layout.html.twig'%}

{% block title %}Connexion{% endblock %}

{% block body %}

{% include  'navigation.html.twig'%}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<main class="container py-5">

    <h1 class="h3 mb-3 fw-normal">Espace d'administration</h1>

   

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" href="{{ path('app_admin') }}"class="btn  btn-primary">Connexion</button>
    {{ form_end(registrationForm) }}

</main>
{% endblock %}
