{% extends 'base.html.twig' %}

{% block title %}Espace de gestion{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% include 'navigation.html.twig' %}

    {% form_theme registrationForm 'bootstrap_5_horizontal_layout.html.twig'%}

<main class="container py-5">

    <h1 class="mb-5 fw-normal">Espace d'administration</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'E-mail'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'J\'accepte les conditions d\'utilisation '
        }) }}

        <button type="submit" class="btn btn-primary">S'enregistrer</button>
    {{ form_end(registrationForm) }}

</main>

{% include 'footer.html.twig' %}

{% endblock %}
