{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig'%}

{% block title %}S'inscrire comme apprenant - Eco IT - Des formations pour la planête{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class="container py-5">

  <h1 class="h3 mb-3 fw-normal">S'inscrire comme apprenant</h1>

{{ form_start(form) }}

   <div class=" my-3">
    <label for="pseudo">Pseudo</label>

   {{ form_widget(form.pseudo) }}
    
  </div>
  <div class=" my-3">
   <label for="email">E-mail</label>

    {{ form_widget(form.email)}}
   
  </div>
  <div class="my-3 ">
    <label for="password">Mot de passe</label>

    {{ form_widget(form.password)}}
  
  </div>
  
   {{ form_widget(form.Envoyer)}}



 {{ form_end(form)}}

</main>

{%include 'footer.html.twig' %}

{% endblock %}
