{% extends 'base.html.twig' %}

{% block title %}Se connecter - Eco IT - Des formations pour la planête{% endblock %}

{% block body %}
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

<link href="{{ asset('css/sign.css')}}" rel="stylesheet" />

{% include 'navigation.html.twig'%}

<main class=" container text-center">
    
<section class="form-signin my-5 py-5">
  <form action="{{ path('app_login') }}" method="post">
 
    <h1 class="h3 mb-5 fw-normal">Merci de vous connecter</h1>

    <div class="form-floating my-3">
      <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
      <label for="username">E-mail</label>
    </div>
    <div class="form-floating my-3">
      <input type="password" class="form-control" id="password" name="password" />
      <label for="password">Mot de passe</label>
    </div>

    <input type="hidden" named="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>
   
    <p class="mt-5 mb-3 text-muted"><a  href="#">Mot de passe oublié</a></p>

  </form>
</section>

</main>

{% include 'footer.html.twig' %}
  
{% endblock %}
