{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class=" container py-5">
        <h1>Tables des matières</h1>
        <div class="accordion accordion-flush mb-4" id="accordionFlushExample">
            <div class="accordion-item">

            {% for lesson in lessons %}

            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{ lesson.id }} - {{ lesson.title }}
                </button>
            </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    {% for video in lesson.video %}
                       
                        <video id="video" controls preload="metadata">
                            <caption>{{ lesson.title }}</caption>
                            <source src="{{ asset('/videos/' ~ video.name) }}" type="video/mp4" alt="video"/>
                            Un problème est survenu...
                        </video>
                       
                    {% endfor %}
                    <div class="accordion-body">
                        {{ lesson.description }}
                     
                    </div>
                </div>
        </div>

        {% endfor %}
        {% if is_granted('ROLE_TEACHER') %}
            <a href="{{ path('app_lesson_new') }}"><button class="btn btn-primary">Ajouter une leçon</button></a>
        {% endif %}
</main>   
{% endblock %}
