{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class=" container py-5">
    <h1>Catalogue des leçons</h1>

    <table class="table table-hover">
    <caption>Formations disponibles</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Video</th>
                <th>Explication textuelle</th>
                <th>Ressources</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>
                     {% for video in lesson.video %}
                       
                            <video controls fullscreen width="500">

                                <source src="{{ asset('/videos/' ~ video.name) }}">

                                Un problème est survenu...
                            </video>
                       
                    {% endfor %}
                </td>
                <td>{{ lesson.description }}</td>
                <td>{{ lesson.files }}</td>
                <td>
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}"><button class="btn btn-info mb-1">Afficher</button></a>
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}"><button class="btn btn-warning">Modifier</button></a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lesson_new') }}"><button class="btn btn-primary">Ajouter une leçon</button></a>
 </main>   
{% endblock %}
