<nav class="navbar  navbar-expand-lg">
			<div class="container">
			<a href="{{ path('app_home')}}"><img class="img-responsive pr-5"  src="{{ asset('images/logo-text.png')}}" width="90" height="40" alt="logo - Eco IT" /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  							<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
						</svg>
					</span>
				</button>
				<div class="collapse navbar-collapse mx-5 py-3" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item ml-auto">
							<a class="nav-link active pl-5" aria-current="page" href="{{ path('app_home')}}"><h1 class="h3">Accueil</h1></a>
						</li>
            			<li class="nav-item">
							<a class="nav-link " aria-current="page" href="{{ path('app_courses')}}"><h1 class="h3">Formations</h1></a>
						</li>
						<li class="nav-item">
							<a class="nav-link " aria-current="page" href="{{ path('app_about')}}"><h1 class="h3">Eco-Actu</h1></a>
						</li>
					
						<li class="nav-item ">
							<a class="nav-link " aria-current="page" href="{{ path('app_about')}}"><h1 class="h3">A propos</h1></a>		
						</li>
					</ul>
					{% if not app.user %}
					<div class="px-3">	
						<a href="{{ path('app_login')}}"><button type="button" class="btn btn-outline-secondary">Connexion</button></a>
					</div>
					{% else %}
					<div class="px-3">	
						<a href="{{ path('app_logout')}}"><button type="button" class="btn btn-outline-primary">Déconnexion</button></a>
					</div>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
					<div class="px-3">	
						<a href="{{ path('app_admin_index')}}"><button type="button" class="btn btn-outline-primary">Admin</button></a>
					</div>
					{% endif %}
				</div>
			</div>
		</nav>